__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
build/
dist/
*.egg-info/
outputs/
checkpoints/
examples/images/

*.so
data/7scenes
data/kitti-long
data/oxford_spires
data/tum-dynamics
data/vbr-long
data/dataset_cache/
